.map-widget {
display: inline-block;
  width: auto;
  text-align: center;
  -webkit-border-radius: 0;
  border: none;
  background: #e63278;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  padding: 10px;
  text-transform: uppercase;
  margin: 1rem 0;
  text-decoration: none;
}

h1 {
    font-size: 188px;
    color: red;
}